avd-azure-image-builder/helloImageTemplateWin.json
avd-azure-image-builder/test2.txt
avd-azure-image-builder/config
directory/
/avd-azure-image-builder/test
/avd-azure-image-builder/config
/terraform-service-principal-role
/test.sh
/config