# This is a basic workflow to help you get started with Actions 

name: Bicep AVD deployment

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
    - main
    paths:
    - avd-bicep-deployment/**
    - .github/workflows/avd-deployment-bicep.yml
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Define environment variables
    env:
      resourceGroupName: rg-avd-bicep-test-westeu-01
      resourceGroupLocation: westeurope
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it 
    - uses: actions/checkout@main

    # Log into Azure
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - uses: Azure/CLI@v1
      name: Create resource group
      with:
        inlineScript: |
          #!/bin/bash
          az group create --name ${{ env.resourceGroupName }} --location ${{ env.resourceGroupLocation }}
          echo "Azure resource group created"

    # Deploy Bicep file
    # - name: Deploy Bicep
    - uses: azure/arm-deploy@v1
      name: Deploy AVD with Bicep
      with:
        # scope: 
        resourceGroupName: ${{ env.resourceGroupName }}
        subscriptionId: d351604a-5f79-488d-a73e-666707f38f1f
        template: ./avd-bicep-deployment/main.bicep
        # subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        parameters: location=westeurope name="avd-bicep-test-westeu-01" subscription=d351604a-5f79-488d-a73e-666707f38f1f
        failOnStdErr: false