# This is a basic workflow to help you get started with Actions

name: Image Builder

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
    - main
    paths:
    - avd-azure-image-builder/**
    - .github/workflows/build-image.yml
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
      id-token: write
      contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: 'Checkout'
      uses: actions/checkout@v2

    # Login using credentials instead of OpenID to avoid timeout
    - name: 'Az login'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS_AIB }}
        # Using OpenID:
        # client-id: ${{ secrets.AZURE_CLIENT_ID_IMAGE_BUILDER }}
        # tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        # subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID_COLLABORATION }}

    - name: Azure CLI Action
      uses: Azure/cli@v1
      with:
        azcliversion: 2.30.0
        # Specify the script here
        # $GITHUB_WORKSPACE = variable containing the root github repo
        inlineScript: |
          chmod +x $GITHUB_WORKSPACE/avd-azure-image-builder/aib-image-setup.sh
          $GITHUB_WORKSPACE/avd-azure-image-builder/aib-image-setup.sh
          echo end of CLI action
